@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --body-color: #E4E9F7;
    --nav-color: #FFF8C3;
    --text-color: #000;
}

.logo_img{
    height: 50px;
}

body{
    height: 100vh;
    background-color: #FFEEEE;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 1000;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 20%;
    transform: translateX(-50%);
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: -50%;
    bottom: 6px;
    transform: translateX(50%);
    height: 3px;
    width: 100%;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-links li.dropdown {
    position: relative;
}

.nav-links li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--nav-color);
    border: 1px solid var(--text-color);
    border-radius: 0 0 5px 5px;
}

.nav-links li.dropdown:hover .dropdown-content {
    display: block;
}

.nav-links li.dropdown .dropdown-content a {
    color: var(--text-color);
    padding: 8px;
    text-decoration: none;
    display: block;
}

footer {
    background-color: var(--nav-color);
    padding: 20px 0;
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-center {
    flex-grow: 1;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    height: 30px;
    margin-right: 10px;
    margin-left: 50px;
}

.footer-links a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 10px;
}

.separator {
    margin: 0 10px;
}

.email {
    font-style: italic;
    font-size: 11px;
}

.footer-right {
    position: relative;
    left: 200px;
}

.admin-login{
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
}

.events-section {
    background-color: #FFEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 0;
}

.event-card {
    background-color: #fff;
    text-align: center;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.event-details h2 {
    text-align: left; /* Align the h2 text to the left */
    margin: 0; /* Reset margin to remove any default spacing */
    color: #DF4B79;
}

.event-card img {
    width: 100px;
    height: 80px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.event-card .event-details {
    flex-grow: 1;
    text-align: left;
}

.event-card .view-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #DF4B79;
    border-radius: 5px;
    margin-left: auto;
}

.event-card .view-link:hover {
    background-color: #E66C92;
}

.event-card .additional-info {
    margin-top: 10px;
    text-align: left;
}

.event-card .additional-info p {
    margin: 5px 0;
}
